@import "tailwindcss";

@theme {
  --shadow-brutal: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-brutal-sm: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  --shadow-brutal-hover: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  --shadow-brutal-pressed: 1px 1px 0px 0px rgba(0, 0, 0, 1);
}

@utility press-down {
  @apply hover:translate-x-[2px] hover:translate-y-[2px] transition-all;
}
